html {
    height: 100%;
}
body {
    background-color: rgb(255, 255, 255);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    color: rgb(91, 91, 155);
    text-shadow: darkblue 2px 1px 1px;
}


.dice-rolling { 
    display: flex;
    flex-direction: column;

}

.diceSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    font-size: 24px;
    margin: 25px 10px;
    background-color: ;
    border: solid 1px;
    box-shadow: 2px 2px 2px;
}

.diceSelection > * {
    border: 2px solid;
}

.diceSelection > *:hover {
    color: rgb(91, 91, 155);
    transition: 600ms;
    cursor: pointer;
    font-size: 3em;
}

.hidden {
    transition: 600ms ;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.modifier {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.clear-all {
    display: flex;
    justify-content: center;
}

.rollButton {
    font-size: 2em;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bold;
    background: none;
    color: rgb(64, 71, 133)
}
.rollButton:hover {
    color: white;
    background-color: rgb(64, 71, 133);
    transition: 400ms;
    cursor: pointer;
    font-size: 2.2em;
    
}

.clearAllButton {
    font-size: 2em;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bold;
    background: none;
    color: rgb(64, 71, 133);
}
.clearAllButton:hover {
    color: white;
    background-color: rgb(64, 71, 133);
    transition: 400ms;
    cursor: pointer;
    font-size: 2.2em;
    
}

.button{
    border: rgb(155, 155, 155) solid 1px;
    background-color: rgb(255, 255, 255);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(163, 189, 228);
}
.modifier > input {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    border: 0;
    outline: none;
    border-bottom: Solid 2px;
    background-color: rgb(255, 255, 255);
    max-width: 210px;
}

.numOfRolls {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    border: 0;
    outline: none;
    border-bottom: Solid 1px;
    background-color: rgb(255, 255, 255);
    max-width: 100px;
    overflow: visible;
}

h1 {
    font-size: 3em;
}

.frontAndCenter {
    min-width: 500px;
    min-height: 250px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    padding: 15px;
    transition: 500ms cubic-bezier(0,1.34,.67,1.06) ;
    position: absolute;
    border: 1px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(56, 59, 88) 2px 2PX 2PX;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(64, 71, 133);
    z-index: 1;
}

.diceSelection > button {
    background:none;
    border:none;
    font-size:2em;
    color:black;
  }

.diceRolls {
    display: flex;
    position: fixed;
    bottom: 0;
    margin: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.dice-roll {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border: solid 1px;
    box-shadow: rgb(56, 59, 88) 1px 2px 1px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}

.dice-roll:hover {
    transition: ;
}

strong {
    font-size: 1.4em;
    color: rgb(67, 86, 255);
    font-weight: bolder;
    
}

em {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}


